<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html , body{
            height: 100vh;
            width: 100%;
        }
        .main{
            height: 100vh;
            width: 100%;
            background-color: #dee7e0;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        .home-btn{
            position: absolute;
            top: 5%;
            left: 5%;
            color: #000;
            font-size: 3.5vh;
            text-decoration: none;
        }
        .sub-con{
            height: 50%;
            width: 500px;
            background-color: #000;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            color: #dee7e0;
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
        }
        input{
            background-color: #dee7e0;
        }

        a{
            color: #fff;
            /* text-decoration: none; */

        }
    </style>
</head>
<body>
    <div class="main">
        <a class="home-btn" href="/">Home</a>
        <div class="sub-con">
            <h3 class="fs-1">Change password</h3>
            <form class="form" action="/changepassword/<%= id %>" method="post">
                <input type="password" class="form-control mt-3 mb-4 password" name="password" id="" placeholder="password" required>
                <button class="btn btn-secondary mt-5">Change</button>
            </form>
            <p class="mt-1">Do not have a account <a href="/signup">Sign up</a></p>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>